.fenykepek img {
    margin: 10px;
    width : 200px;
}

article {
    margin    : 10px;
    text-align: justify;
}

article h3 {
    text-decoration: underline;
}

form {
    margin: 10px;
}

form textarea {
    width: 100%;
}

form#uzenoForm input {
    width        : 100%;
    margin-bottom: 5px;
}