.tartalom {
    display: flex;
}

.tartalom div {
    margin: 3px;
    width : 50%;
}

.tartalom img {
    /* height: auto; */
    width: 85%;
}

.tulajdonsagok {
    height        : 150px;
    font-size     : xx-large;
    text-align    : center;
    align-items   : center;
}

.tulajdonsagok div {
    height          : 80%;
    background-color: bisque;
    
}
