.munka {
    display: flex;
}

.munka div {
    margin: 3px;
    width : 100%;
    text-align:justify;
}

.munka img {
    /* height: auto; */
    width: 95%;
}

@media (max-width: 600px) {
    .munka {
        display: block;
    }

    .munka div {
        margin: 3px;
        width : 100%;

    }
}